    /*----------------------General----------------------------*/
    
    @font-face {
        font-family: "Montserrat";
        font-weight: 900;
        src: url(../fonts/Montserrat-Black.ttf);
    }
    
    @font-face {
        font-family: "Montserrat";
        font-weight: 800;
        src: url(../fonts/Montserrat-ExtraBold.ttf);
    }
    
    @font-face {
        font-family: "Montserrat";
        font-weight: 700;
        src: url(../fonts/Montserrat-Bold.ttf);
    }
    
    @font-face {
        font-family: "Montserrat";
        font-weight: 600;
        src: url(../fonts/Montserrat-SemiBold.ttf);
    }
    
    @font-face {
        font-family: "Montserrat";
        font-weight: 500;
        src: url(../fonts/Montserrat-Medium.ttf);
    }
    
    @font-face {
        font-family: "Montserrat";
        font-weight: 400;
        src: url(../fonts/Montserrat-Regular.ttf);
    }
    
    @font-face {
        font-family: "Montserrat";
        font-weight: 300;
        src: url(../fonts/Montserrat-Light.ttf);
    }
    
    * {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
    }
    
     :root {
        --s: #4563f7;
        --grisoscuro: #060301;
        --gris-claro: rgb(151, 150, 150);
        --naranja: #ff4000;
        --naranja-oscuro: #ff1702;
        --celeste-claro: #008cff;
        --celeste-oscuro: #0d10cf;
        --celeste-more: #1c1fc4;
        --blanco-hueso: #f6f6f6;
        --azul: rgb(1, 1, 8);
    }
    
    *::selection {
        background: var(--celeste-claro);
        color: #000;
    }
    
    body {
        font-family: 'Montserrat';
        background: var(--blanco-hueso);
        position: relative;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    img,
    video {
        width: 100%;
    }
    
    section {
        position: relative;
        width: 100%;
    }
    
    section p {
        text-align: center;
        width: 95%;
        margin: 10px auto;
        font-weight: 600;
        font-size: 1.05em;
        line-height: 1.4;
    }
    
    u {
        text-decoration-color: var(--naranja-oscuro);
    }
    
    h1 {
        font-size: 2.1em;
        color: var(--naranja-oscuro);
        font-weight: 800;
        text-align: center;
        margin-bottom: 0px;
    }
    
    h1~h2 {
        font-size: 1em;
        color: var(--grisoscuro);
        font-weight: 600;
    }
    
    h2 {
        width: 90%;
        margin: auto;
        font-size: 2em;
        text-align: center;
        font-weight: 800;
        display: block;
        color: var(--naranja-oscuro);
    }
    
    h2~p {
        width: 92%;
        margin: 10px auto;
        max-width: 1050px;
    }
    
    .more a>.icon {
        transition: 0.2s ease;
    }
    
    .more a:hover>.icon {
        transform: translateX(5px);
    }
    
    .scroll-down .header {
        transform: translate3d(0, -140%, 0);
    }
    
    .scroll-up .header {
        transform: none;
    }
    
    .division {
        width: 90%;
        margin: auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 200;
    }
    
    .division-back {
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--grisoscuro);
        top: 50%;
    }
    
    .division .icon {
        background: var(--blanco-hueso);
        padding: 3px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: block;
        z-index: 100;
    }
    
    .shadow {
        background-color: rgba(0, 0, 0, 0.45);
        height: 100vh;
        opacity: 0;
        position: fixed;
        top: 0px;
        left: 0;
        pointer-events: none;
        transition: 0.2s ease;
        width: 100%;
        z-index: auto;
    }
    
    .visible {
        pointer-events: auto;
        opacity: 1;
        transition: 200ms ease-in;
        z-index: 2000;
    }
    
    .go-top_container {
        position: fixed;
        bottom: 58px;
        right: -6px;
        width: 50px;
        height: 50px;
        z-index: -1;
    }
    
    .go-top_button {
        width: 0px;
        height: 0px;
        opacity: 0;
        background: rgba(15, 15, 15, .6);
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: .2s;
    }
    
    .go-top_button .icon {
        position: absolute;
        font-size: 19px;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: #fff;
        transition: .2s;
    }
    
    .show {
        z-index: 2000;
        opacity: 1;
    }
    
    .show .go-top_button {
        animation: popup .4s ease-in-out;
        width: 50px;
        height: 50px;
        z-index: 2100;
        opacity: 1;
    }
    
    .show .icon {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    
    .float-contact {
        position: fixed;
        z-index: 2500;
        bottom: 20px;
        right: 10px;
    }
    
    .float-container:active,
    .bubble:active {
        transform: scale(0.93);
    }
    
    .float-container,
    .bubble {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--naranja-oscuro);
        color: var(--blanco-hueso);
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.534));
        border-radius: 50%;
        font-size: 1.5em;
        transition: 0.2s ease;
    }
    
    .float-bubbles {
        left: 6px;
        bottom: -10px;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s ease;
    }
    
    .bubble-active {
        bottom: 55px;
        opacity: 1;
        pointer-events: auto;
    }
    
    .bubble {
        width: 45px;
        height: 45px;
        margin-bottom: 7px;
        background: #fff;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-2px -2px 4px rgba(0, 0, 0, 0.25));
    }
    
    #comment {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 55px;
        font-size: 1.05em;
        border-radius: 50%;
    }
    
    #times {
        position: absolute;
        z-index: 3000;
        bottom: 0px;
        right: 0px;
        font-size: 1.5em;
        display: none;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 55px;
        border-radius: 50%;
    }
    
    #mail a {
        color: var(--grisoscuro);
        text-decoration: none;
        font-size: 0.9em;
    }
    
    #phone a {
        color: var(--grisoscuro);
        text-decoration: none;
        font-size: 0.9em;
    }
    
    #wsp a {
        color: rgb(25, 187, 20);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #wsp a img {
        width: 50%;
        margin: auto;
        filter: contrast(13);
    }
    
    #msn a {
        color: rgb(20, 51, 187);
        text-decoration: none;
        filter: contrast(2);
    }
    
    #tlg a {
        color: #0088cc;
    }
    
    #tlg a .icon {
        margin-right: 2.5px;
        margin-top: 3px;
        font-size: 1.1em;
    }
    
    .more {
        transition: 0.2s ease;
    }
    
    .more:active {
        transform: scale(0.96);
    }
    
    .more {
        text-align: center;
    }
    
    .more a {
        color: var(--celeste-claro);
        font-weight: 600;
    }
    /*----------------------Header----------------------------*/
    
    .header {
        width: 100%;
        background: rgba(0, 0, 0, 0.83);
        -webkit-backdrop-filter: saturate(180%) blur(15px);
        backdrop-filter: saturate(180%) blur(15px);
        position: fixed;
        top: -1px;
        left: 0;
        z-index: 3000;
        box-shadow: 4px 0px 7px #000;
        transition: all 0.3s ease !important;
    }
    
    .header-fixed {
        position: fixed !important;
        top: 0;
        left: 0;
        transition: all 0.3s ease !important;
    }
    
    .header-container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 46px;
        max-width: 1500px;
    }
    
    .header-container-logo {
        width: 59px;
        height: 59px;
        background-color: #fff;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.452));
        z-index: 3000;
        padding: 10px;
        padding-top: 18px;
        overflow: hidden;
    }
    
    .header-container-logo img:active {
        transform: scale(0.95);
    }
    
    .header-container-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-container-donate {
        opacity: 0;
        pointer-events: none;
        transition: 0.2s ease;
    }
    
    .header-donate-active {
        opacity: 1;
        pointer-events: auto;
        transition: 0.2s ease;
    }
    
    .header-container-donate span a {
        display: flex;
        position: relative;
        background: linear-gradient(-45deg, var(--celeste-claro), var(--celeste-oscuro));
        border-radius: 50px;
        padding: 5px 10px;
        color: var(--blanco-hueso);
        filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.418));
        transition: transform 0.2s ease;
        text-decoration: none;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
        font-size: 0.8em;
        margin-right: 5px;
    }
    
    .header-container-donate .icon {
        filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.336));
    }
    
    .header-container-donate span a:active {
        transform: scale(0.95);
    }
    
    .header-container-donate span .icon {
        margin-right: 5px;
    }
    
    .header-container nav {
        background: var(--grisoscuro);
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        height: calc(100vh - 35px);
        z-index: 2900;
        transition: 0.3s ease;
        opacity: 0;
        pointer-events: none;
        overflow: scroll;
    }
    
    .nav-active {
        opacity: 1 !important;
        pointer-events: auto !important;
    }
    
    .header-menu {
        width: 80%;
        margin: auto;
        margin-top: 35px;
    }
    
    .header-menu-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: 20px 0;
        border-bottom: 1px solid rgba(151, 150, 150, 0.158);
    }
    
    .header-menu-content a {
        color: var(--blanco-hueso);
        font-weight: 600;
        text-decoration: none;
        filter: drop-shadow( 2px 2px 5px rgba(0, 0, 0, 0.733));
    }
    
    .header-menu-content a .icon {
        margin-right: 7px;
    }
    
    .header-menu-content:last-child {
        color: rgb(151, 150, 150);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 50px;
        display: none;
    }
    
    .header-menu-content:last-child span {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .nav-social-container {
        display: flex;
        margin-top: 15px;
    }
    
    .nav-social-card {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: var(--blanco-hueso);
        text-align: center;
        font-size: 1.2em;
        margin: 0 4px;
    }
    
    .nav-social-card .icon {
        color: var(--grisoscuro);
        text-decoration: none;
    }
    
    .nav-social-card .icon {
        margin-right: 0px !important;
    }
    
    .header-menu .header-menu-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.4s ease !important;
    }
    
    #icon-down {
        color: var(--naranja-oscuro);
        font-size: 1.1em;
        filter: drop-shadow( 2px 2px 5px rgba(0, 0, 0, 0.493));
    }
    
    .icon-down-active {
        transform: rotate(180deg);
        /* transition: transform 0.6s ease !important; */
    }
    
    .header-menu-down {
        width: 100%;
        margin: auto;
        padding-left: 30px;
        max-height: 0;
        transition: max-height 0.4s ease;
        overflow: hidden;
        margin-top: 3px;
    }
    
    .header-menu-icon.icon-down-active+.header-menu-down {
        max-height: 500px;
    }
    
    .header-menu-down-content li {
        height: 30px;
        margin: 15px 0;
        border: none;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .header-menu-down-content li::before {
        content: "\2022";
        width: 10px;
        height: 10px;
        color: var(--blanco-hueso);
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        color: rgb(151, 150, 150);
    }
    
    .header-menu-down-content li a {
        color: rgb(151, 150, 150);
    }
    
    .header-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
    
    .header-btn-burger::before,
    .header-btn-burger::after {
        content: "";
        position: absolute;
        width: 23px;
        height: 3px;
        background: var(--blanco-hueso);
        transition: .5s ease-in-out;
        border-radius: 20%;
        filter: drop-shadow(2px 2px 5px #000);
    }
    
    .header-btn-burger::before {
        transform: translateX(-7px) translateY(-4px);
    }
    
    .header-btn-burger::after {
        transform: translateX(-7px) translateY(4px);
    }
    
    .header-btn.open .header-btn-burger {
        background: transparent;
    }
    
    .header-btn.open .header-btn-burger::before {
        transform: rotate(45deg) translate(-5px, 5px);
    }
    
    .header-btn.open .header-btn-burger::after {
        transform: rotate(-45deg) translate(-5px, -5px);
    }
    /********************************/
    /*----------------Animations------------------*/
    
    footer {
        position: relative;
        background: var(--celeste-oscuro);
        margin-top: 50px;
    }
    
    .footer-waves {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 40px;
        top: -40px;
        z-index: 100 !important;
    }
    
    .waves {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: .4s transform ease;
        transform-origin: bottom center;
    }
    
    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .wave-light {
        z-index: 2;
        color: #0d10cf;
        animation: wave 4s linear infinite;
    }
    
    .wave-lighter {
        z-index: 1;
        color: #0d10cf;
        opacity: 0.5;
        animation: wave 2s linear infinite;
    }
    
    .wave-dark {
        z-index: 1;
        opacity: 0.7;
        color: #0d10cf;
        animation: wave 5s linear infinite;
        animation-direction: reverse;
    }
    
    .water {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .water svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: 2000 !important;
        bottom: 0%;
    }
    
    .water:first-of-type {
        transform: translate(-99.85%, 0);
    }
    
    footer svg {
        fill: currentColor;
    }
    
    .footer-logo {
        width: 100%;
        margin-top: -10px;
    }
    
    .footer-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-logo-container img {
        width: 75px;
    }
    
    .footer-logo-container p span {
        display: block;
        font-size: 0.9em;
        font-weight: 700;
        color: var(--blanco-hueso);
        margin-left: 15px;
        position: relative;
    }
    
    .footer-logo-container p span::before {
        content: "";
        position: absolute;
        left: -10px;
        height: 20px;
        width: 2px;
        background: var(--blanco-hueso);
    }
    
    .footer-social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.157);
        width: 85%;
        margin: auto;
        margin-bottom: 15px;
    }
    
    .footer-legal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: auto;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.157);
    }
    
    .footer-legal ul li {
        margin: 15px 0;
        list-style: none;
        font-weight: 600;
        text-align: center;
    }
    
    .footer-legal ul li a {
        color: rgb(160, 157, 157);
    }
    
    .footer-copy {
        width: 85%;
        margin: auto;
        text-align: center;
        color: rgb(160, 157, 157);
        font-size: 0.9em;
        padding: 25px 0;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.157);
    }
    
    .footer-atribute {
        width: 85%;
        margin: auto;
        text-align: center;
        color: rgb(160, 157, 157);
        padding-bottom: 80px;
        font-size: 0.8em;
    }
    
    .footer-atribute span {
        color: var(--naranja);
        display: block;
        margin-top: 5px;
        font-weight: 600;
    }
    /*----------------Responsive------------------*/
    
    @media screen and (min-width:375px) {
        h2 {
            font-size: 2.2em;
        }
        .header-menu {
            margin-top: 60px;
        }
        .header-menu-content {
            padding-bottom: 15px;
        }
        .header-menu-content a {
            font-size: 1.18em;
        }
        .float-container,
        .bubble {
            width: 60px;
            height: 60px;
            font-size: 1.7em;
        }
        .float-bubbles {
            left: 6px;
            bottom: 0px;
            position: absolute;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s ease;
        }
        .bubble-active {
            bottom: 60px;
            opacity: 1;
            pointer-events: auto;
        }
        .bubble {
            width: 50px;
            height: 50px;
            margin-bottom: 7px;
            background: #fff;
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-2px -2px 4px rgba(0, 0, 0, 0.25));
        }
        #times,
        #comment {
            line-height: 60px;
        }
        #comment {
            font-size: 1em;
            left: 2px;
        }
        #times {
            top: 1px;
            right: 0px;
            font-size: 1.4em;
        }
    }
    
    @media screen and (min-width:540px) {
        h2 {
            font-size: 2.65em;
            text-align: center;
            font-weight: 800;
            display: block;
            color: var(--naranja-oscuro);
        }
        h2~p {
            width: 92%;
            margin: 10px auto;
            font-size: 1.25em;
        }
    }
    
    @media screen and (min-width:760px) {
        h2 {
            font-size: 3.4em;
            text-align: center;
            font-weight: 800;
            display: block;
            color: var(--naranja-oscuro);
        }
        h2~p {
            width: 92%;
            margin: 10px auto;
            font-size: 1.25em;
        }
        .footer-legal ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer-legal li {
            margin: 20px 10px !important;
        }
        .footer-legal li a {
            font-size: 0.9em;
        }
        .footer-atribute {
            padding-bottom: 40px !important;
        }
    }
    
    @media screen and (min-width:652px) {
        .footer-waves {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 60px;
            top: -60px;
            z-index: 100 !important;
        }
    }
    
    @media screen and (min-width:930px) {}
    
    @media screen and (min-width:900px) {
        h2 {
            font-size: 3.95em;
            text-align: center;
            font-weight: 800;
            display: block;
            color: var(--naranja-oscuro);
        }
        h2~p {
            width: 92%;
            margin: 10px auto;
            font-size: 1.3em;
        }
        .footer-waves {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 50px;
            top: -49px;
            z-index: 100 !important;
        }
        .nav-social-card a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        .nav-social-card {
            transition: 0.25s ease;
        }
        .nav-social-card:hover {
            transform: scale(1.1);
        }
        .footer-content {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1200px;
            margin: auto;
            margin-top: -20px;
        }
        .footer-content>div {
            margin: 0;
            border: 0px;
            height: 100%;
        }
        .footer-logo {
            width: 40%;
            margin-top: -35px;
        }
        .footer-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer-logo-container img {
            width: 75px;
        }
        .footer-logo-container p span {
            display: block;
            font-size: 0.9em;
            font-weight: 700;
            color: var(--blanco-hueso);
            margin-left: 15px;
            position: relative;
        }
        .footer-logo-container p span::before {
            content: "";
            position: absolute;
            left: -10px;
            height: 20px;
            width: 2px;
            background: var(--blanco-hueso);
        }
        .footer-social {
            border: 0;
            width: 10%;
            margin: auto;
        }
        .footer-social .nav-social-card {
            margin-bottom: 0px;
        }
        .footer-legal {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: auto;
            padding-bottom: 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.157);
        }
        .footer-legal ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer-legal ul li {
            font-size: 0.8em;
            margin: 0;
            margin-right: 20px;
        }
        .footer-legal ul li a:hover {
            color: #fff;
        }
        .footer-legal ul li a {
            color: rgb(160, 157, 157);
        }
        .footer-copy {
            font-size: 0.8em;
            padding: 20px 0;
            border-bottom: 0px;
            border-top: 1px solid rgba(255, 255, 255, 0.157);
            border-bottom: 1px solid rgba(255, 255, 255, 0.157);
            max-width: 1200px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        .footer-atribute {
            padding-bottom: 20px;
            font-size: 0.8em;
            max-width: 1200px;
            margin: auto;
        }
        .footer-atribute span {
            color: var(--naranja);
            display: block;
            margin-top: 5px;
            font-weight: 600;
        }
    }
    
    @media screen and (min-width:1300px) {
        .footer-logo {
            width: 30%;
            margin-top: -35px;
        }
        .footer-legal ul li {
            font-size: 1em;
            margin-right: 30px;
        }
    }
    
    @media screen and (min-width:1050px) {
        #header-donate a:hover>.icon {
            animation: gift infinite 1s ease;
        }
        .float-contact {
            right: 15px;
        }
        .float-container,
        .bubble {
            width: 65px;
            height: 65px;
            font-size: 1.7em;
            transition: 0.1s ease;
            cursor: pointer;
        }
        .float-container:active {
            transform: scale(0.90);
        }
        .float-bubbles {
            left: 5px;
            bottom: 0px;
            position: absolute;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s ease;
        }
        .bubble-active {
            bottom: 65px;
            opacity: 1;
            pointer-events: auto;
        }
        .bubble {
            width: 55px;
            height: 55px;
        }
        .bubble a {
            height: 100%;
            width: 100%;
            line-height: 55px;
            text-align: center;
            border-radius: 50%;
        }
        #comment {
            line-height: 65px;
        }
        #times {
            font-size: 1.5em;
            line-height: 68px;
        }
        #mail:after {
            content: "Correo Electrónico";
            position: absolute;
            text-align: center;
            background: var(--blanco-hueso);
            border-radius: 10px;
            left: -180px;
            width: auto;
            font-size: 0.6em;
            padding: 5px 10px;
            font-weight: 600;
            color: var(--grisoscuro);
            opacity: 0;
            transition: 0.2s ease;
        }
        #mail:hover::after {
            opacity: 1;
        }
        #phone {
            position: relative;
        }
        #phone a {
            color: var(--grisoscuro);
            text-decoration: none;
            font-size: 0.9em;
        }
        #phone:hover>a,
        #mail:hover>a {
            color: var(--naranja-oscuro);
            text-decoration: none;
            font-size: 0.9em;
        }
        #phone:after {
            content: "+502 0000-0000";
            position: absolute;
            text-align: center;
            background: var(--blanco-hueso);
            border-radius: 10px;
            left: -163px;
            width: auto;
            font-size: 0.6em;
            padding: 5px 10px;
            font-weight: 600;
            color: var(--grisoscuro);
            opacity: 0;
            transition: 0.2s ease;
        }
        #phone:hover::after {
            opacity: 1;
        }
        #wsp:after {
            content: "Chat de WhatsApp";
            position: absolute;
            text-align: center;
            background: var(--blanco-hueso);
            border-radius: 10px;
            left: -185px;
            width: auto;
            font-size: 0.6em;
            padding: 5px 10px;
            font-weight: 600;
            color: var(--grisoscuro);
            opacity: 0;
            transition: 0.2s ease;
        }
        #wsp:hover::after {
            opacity: 1;
        }
        #msn:after {
            content: "Chat de Messenger";
            position: absolute;
            text-align: center;
            background: var(--blanco-hueso);
            border-radius: 10px;
            left: -187px;
            width: auto;
            font-size: 0.6em;
            padding: 5px 10px;
            font-weight: 600;
            color: var(--grisoscuro);
            opacity: 0;
            transition: 0.2s ease;
        }
        #msn:hover::after {
            opacity: 1;
        }
        #tlg:after {
            content: "Chat de Telegram";
            position: absolute;
            text-align: center;
            background: var(--blanco-hueso);
            border-radius: 10px;
            left: -175px;
            width: auto;
            font-size: 0.6em;
            padding: 5px 10px;
            font-weight: 600;
            color: var(--grisoscuro);
            opacity: 0;
            transition: 0.2s ease;
        }
        #tlg:hover::after {
            opacity: 1;
        }
        .header-contact {
            display: block;
            position: relative;
        }
        .header {
            position: fixed;
            height: 40px;
            top: 0;
            left: 0;
        }
        .header {
            width: 100%;
            background: rgba(0, 0, 0, 0.85);
            -webkit-backdrop-filter: saturate(180%) blur(15px);
            backdrop-filter: blur(15px);
            height: 45px;
        }
        .header-container {
            width: 90%;
            height: 45px;
            position: relative;
        }
        .header-container-logo {
            width: 73px;
            height: 75px;
            padding: 12px;
            padding-top: 30px;
            padding-left: 14px;
        }
        .header-container-donate {
            position: absolute;
            left: 86px;
        }
        .header-container-donate span a {
            padding: 5px 15px;
            font-size: 0.85em;
            margin-right: 3px;
            background: linear-gradient(-45deg, var(--celeste-claro), var(--celeste-oscuro));
        }
        .header-container nav {
            background: none;
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            height: 40px;
            z-index: 2900;
            transition: 0.3s ease;
            opacity: 1;
            pointer-events: auto;
            overflow: visible;
        }
        .header-menu {
            width: 100%;
            margin-top: 0px;
            display: flex;
            align-items: center;
            height: 100%;
            overflow: visible;
        }
        .header-menu-content {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            height: 40px;
            margin: 0;
            width: auto;
            padding: 0;
            border-bottom: 0px solid rgba(151, 150, 150, 0.158);
            font-size: 0.8em;
            margin-right: 20px;
            position: relative;
            overflow: visible;
        }
        .header-menu-content a {
            display: flex;
            transition: 0.2s ease;
            height: 45px;
            align-items: center;
        }
        .header-menu-content:hover>a {
            color: var(--naranja);
        }
        .header-menu-content a .icon {
            display: block;
            margin-right: 4px !important;
        }
        .header-menu-content:last-child {
            display: none;
        }
        .header-menu .header-menu-icon {
            width: 20px;
            height: 20px;
            margin-left: 3px;
            pointer-events: none;
            font-size: 0.8em;
        }
        #icon-down {
            color: var(--blanco-hueso);
            transition: 0.2s ease !important;
            cursor: pointer !important;
        }
        .icon-down-active {
            transform: rotate(180deg);
        }
        .header-menu-down {
            width: 100%;
            margin: auto;
            padding-left: 30px;
            max-height: 500px;
            width: 200px;
            transition: max-height 0.5s ease;
            overflow: visible;
            top: 75%;
            right: -13px;
            position: absolute;
            z-index: 3000 !important;
            filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
            display: block;
            opacity: 0;
            pointer-events: none;
            transition: 0.2s ease;
        }
        .header-menu-down-content {
            background: var(--blanco-hueso);
            padding: 15px 14px;
            border-radius: 5px;
            width: auto;
        }
        .header-menu-down-content::after {
            content: "";
            width: 0;
            height: 0;
            border-right: 13px solid transparent;
            border-top: 13px solid transparent;
            border-left: 13px solid transparent;
            border-bottom: 13px solid var(--blanco-hueso);
            position: absolute;
            top: -18px;
            right: 10px;
            z-index: 2000;
        }
        .header-menu-down-content li {
            height: auto;
            margin: 0;
            padding: 10px 0;
            border: none;
            display: flex;
            justify-content: start;
            align-items: center;
        }
        .header-menu-down-content li:first-child {
            padding-top: 0;
        }
        .header-menu-down-content li:last-child {
            padding-bottom: 0;
        }
        .header-menu-down-content li::before {
            content: "\2022";
            min-width: 14px;
            height: 14px;
            color: #000;
            display: flex;
            font-size: 2em;
            justify-content: start;
            align-items: center;
            position: relative;
            color: rgb(151, 150, 150);
        }
        .header-menu-down-content li a {
            color: rgb(71, 66, 66);
            filter: none;
            height: auto !important;
            width: 100%;
        }
        .header-container-burger {
            display: none;
        }
        .header-menu-content:hover .header-menu-down {
            opacity: 1;
            top: 95%;
            pointer-events: auto !important;
        }
        .header-menu-down:active {
            display: block;
            pointer-events: auto;
        }
        .header-menu-content:hover #icon-down {
            color: var(--naranja);
            transform: rotate(180deg);
        }
    }
    
    @media screen and (min-width:1200px) {
        .footer-waves {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 70px;
            top: -70px;
            z-index: 100 !important;
        }
        .header-container-logo {
            width: 73px;
            height: 75px;
            padding: 12px;
            padding-top: 30px;
            padding-left: 14px;
        }
        .header-container-donate {
            position: absolute;
            left: 86px;
        }
        .header-container-donate span a {
            padding: 5px 15px;
            font-size: 0.85em;
            margin-right: 3px;
            background: linear-gradient(-45deg, var(--celeste-claro), var(--celeste-oscuro));
        }
        .header-menu {
            width: 100%;
            margin-top: 0px;
            display: flex;
            align-items: center;
            height: 100%;
            overflow: visible;
        }
        .header-menu-content {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            height: 40px;
            margin: 0;
            width: auto;
            padding: 0;
            border-bottom: 0px solid rgba(151, 150, 150, 0.158);
            font-size: 0.8em;
            margin-right: 30px;
            position: relative;
            overflow: visible;
        }
        .header-menu-down-content li a:hover {
            color: var(--naranja-oscuro);
            filter: none;
        }
        .header-container-burger {
            display: none;
        }
        .header-menu-content:hover .header-menu-down {
            opacity: 1;
            top: 95%;
            pointer-events: auto;
        }
    }
    /*----------------Animations------------------*/
    
    .opacity {
        animation: opacity 1s forwards;
    }
    
    .animated {
        opacity: 0;
        transition: all 1000ms;
    }
    
    .mostrarArriba {
        animation: ShowUp 1s forwards;
    }
    
    .mostrarArriba1 {
        animation: ShowUp1 1s forwards;
    }
    
    .progressAnimation {
        animation: progressBar 1s ease-out forwards;
    }
    
    .goingBack {
        animation: goingBack 2s forwards;
    }
    
    .goingBackTwo {
        animation: goingBackTwo 2s forwards;
    }
    
    .loader {
        height: 100vh;
        width: 100%;
        background: var(--grisoscuro);
        z-index: 3000;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        pointer-events: none;
        transition: 0.4s ease-in-out;
    }
    
    .loaderHide {
        opacity: 0;
    }
    
    .wrapper {
        width: 200px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .circle {
        width: 16px;
        height: 16px;
        position: absolute;
        border-radius: 50%;
        background-color: var(--naranja-oscuro);
        left: 20%;
        transform-origin: 50%;
        animation: circle .5s alternate infinite ease;
    }
    
    @keyframes circle {
        0% {
            top: 60px;
            height: 5px;
            border-radius: 50px 50px 25px 25px;
            transform: scaleX(1.7);
        }
        40% {
            height: 20px;
            border-radius: 50%;
            transform: scaleX(1);
        }
        100% {
            top: 0%;
        }
    }
    
    .circle:nth-child(2) {
        left: 45%;
        animation-delay: .2s;
    }
    
    .circle:nth-child(3) {
        left: auto;
        right: 20%;
        animation-delay: .3s;
    }
    
    .shadows {
        width: 20px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.212);
        position: absolute;
        top: 62px;
        transform-origin: 50%;
        z-index: -1;
        left: 20%;
        filter: blur(1px);
        animation: shadow .5s alternate infinite ease;
    }
    
    @keyframes shadow {
        0% {
            transform: scaleX(1.5);
        }
        40% {
            transform: scaleX(1);
            opacity: .7;
        }
        100% {
            transform: scaleX(.2);
            opacity: .4;
        }
    }
    
    .shadows:nth-child(4) {
        left: 45%;
        animation-delay: .2s
    }
    
    .shadows:nth-child(5) {
        left: auto;
        right: 20%;
        animation-delay: .3s;
    }
    
    @keyframes ShowUp {
        0% {
            transform: translateY(45px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @keyframes ShowUp1 {
        0% {
            transform: translateY(20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @keyframes ShowRight {
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-150px * 6));
            transform: translateX(calc(-150px *6));
        }
    }
    
    @keyframes mostrarDerecha {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    @keyframes wave {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(100%, 0, 0);
        }
    }
    
    @keyframes popup {
        0% {
            width: 0px;
            height: 0px;
        }
        50% {
            width: 55px;
            height: 55px;
            opacity: 1;
        }
        100% {
            width: 50px;
            height: 50px;
            opacity: 1;
        }
    }
    
    @keyframes up-down {
        0% {
            transform: translateY(10px);
        }
        25% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(10px);
        }
    }
    
    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes movingRight {
        0% {
            transform: translateX(5px);
        }
        50% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(5px);
        }
    }
    
    @keyframes movingUp {
        0% {
            transform: translatey(-5px);
        }
        50% {
            transform: translatey(0);
        }
        100% {
            transform: translatey(-5px);
        }
    }
    
    @keyframes opacityUp {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    @keyframes Scaling {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes progressBar {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes scaleUp {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes scaleDown {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    
    @keyframes goingBack {
        0% {
            opacity: 0;
            width: 0%;
        }
        100% {
            opacity: 1;
            width: 70%;
        }
    }
    
    @keyframes goingBackTwo {
        0% {
            opacity: 0;
            width: 0%;
        }
        100% {
            opacity: 1;
            width: 70%;
        }
    }
    
    @keyframes fill {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes heart {
        0% {
            opacity: 0;
            transform: translateY(0);
            transform: scale(0);
        }
        10% {
            opacity: 1;
            transform: scale(1);
        }
        81% {
            opacity: 0;
        }
        100% {
            transform: translateY(-70px);
            opacity: 0;
        }
    }
    
    @keyframes check {
        50% {
            transform: scale(1.2);
        }
    }
    
    @keyframes gift {
        0% {
            transform: rotate(-30deg);
        }
        50% {
            transform: rotate(30deg);
        }
        100% {
            transform: rotate(-30deg);
        }
    }