:root {
    --s: #4563f7;
    --grisoscuro: #060301;
    --gris-claro: rgb(151, 150, 150);
    --naranja: #ff4000;
    --naranja-oscuro: #ff1702;
    --celeste-claro: #008cff;
    --celeste-oscuro: #0d10cf;
    --celeste-more: #1c1fc4;
    --blanco-hueso: #f6f6f6;
    --azul: rgb(1, 1, 8);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url(../fonts/Montserrat-Light.ttf);
}


/********************************/

.banner {
    position: relative;
}

.banner-container-video {
    margin-bottom: -60px;
}

.banner-container-video video {
    height: 500px;
    object-fit: cover;
    object-position: center;
    z-index: 20;
}

.banner-container-video::after {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: 30;
}

.banner-container-content {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    width: 100%;
}

.banner-container-content h1 {
    color: var(--blanco-hueso);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.774);
    width: 100%;
    margin: auto;
    line-height: 1.2;
    text-align: center;
}

.banner-container-content h1 span {
    display: block;
}

.banner-container-content h1 span:first-child {
    font-size: 0.45em;
    font-weight: 600;
    opacity: 0;
    animation: ShowUp 1s 0.3s forwards;
}

.banner-container-content h1 span:nth-child(2) {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation: ShowUp 1s 0.6s forwards;
}

.banner-container-content h1 span:nth-child(3) {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation: ShowUp 1s 0.6s forwards;
}

.banner-container-content h1 span:nth-child(4) {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation: ShowUp 1s 0.6s forwards;
}

.banner-container-content h1 span:last-child {
    font-size: 0.4em;
    text-transform: none;
    font-weight: 500;
    display: inline-block;
    background: rgba(27, 27, 27, 0.658);
    border-radius: 10px;
    padding: 5px 10px;
    opacity: 0;
    animation: ShowUp 1s 0.9s forwards;
}

.banner-container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.banner-container-button a {
    color: var(--blanco-hueso);
    text-decoration: none;
    background: linear-gradient(45deg, var(--celeste-oscuro), var(--celeste-claro));
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.575);
    transition: 0.2s ease;
    font-size: 1.1em;
    opacity: 0;
    animation: opacity 1s 1.1s forwards;
}

.banner-container-button a:active {
    transform: scale(0.93);
}

.banner-container-button a .icon {
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.575));
}

.banner-waves {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    margin-bottom: -17px;
}

.banner-wave {
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.431));
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 100;
    transform: rotate(180deg);
}

.banner-wave-two {
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.431));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 90;
    opacity: 0.3;
    transform: rotate(180deg);
}


/********************************/

.sponsors-container {
    padding: 10px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.swiper-container-sponsors .swiper-slide {
    padding: 5px;
}

.swiper-container-sponsors img {
    filter: grayscale(1);
    object-fit: contain !important;
    max-width: 120px;
    height: 100%;
}


/********************************/

.help-container {
    margin: 20px 0;
}

.help-description p {
    font-weight: 600;
    margin-top: 15px;
    display: block;
}

.help-description p span {
    display: block;
    width: 90%;
    margin: auto;
    background: rgb(14, 13, 13);
    color: var(--blanco-hueso);
    border-radius: 30px;
    margin-top: 15px;
    padding: 5px;
    font-size: 0.75em;
    font-weight: 500;
    max-width: 280px;
    line-height: 16px;
}

.help-description p span img {
    display: inline-block;
    width: 15px;
}

.help-description {
    margin: 20px 0;
}

.help-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.help-container-card {
    width: 90%;
    margin: auto;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.12);
    margin-top: 60px;
    max-width: 330px;
}

.help-container-card:nth-child(2) {
    margin-bottom: 5px;
}

.help-container-card:nth-child(3) .help-card-img:first-child img {
    width: 200px;
}

.help-card-img {
    height: 110px;
}

.help-card-img img {
    width: 200px;
    filter: contrast(1.2) saturate(1.4) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.486));
    transform: translateY(-40%);
}

.help-card-title {
    width: 90%;
    margin: auto;
    text-align: center;
}

.help-card-title h3 {
    margin-top: -5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(182, 175, 175);
    display: inline-block;
    max-width: 240px;
    font-size: 1.6em;
}

.help-card-title ul li {
    list-style: none;
    display: block;
    font-weight: 500;
}

.help-card-title ul li::before {
    content: "\2022";
    font-size: 1.4em;
}

.help-card-title .more {
    margin: 10px 0;
    margin-top: 15px;
}

.more {
    text-align: center;
}

.more a {
    color: var(--celeste-claro);
    font-weight: 600;
}


/********************************/

.news {
    padding-top: 40px;
    margin-top: 50px;
    z-index: 100;
    position: relative;
    background: #fff;
}

.news-telegram {
    text-align: center;
    width: 100%;
}

.news-telegram a {
    font-size: 0.8em;
    background: rgb(14, 13, 13);
    padding: 7px 20px;
    border-radius: 50px;
    color: var(--celeste-claro);
    font-weight: 600;
}

.swiper-container-news {
    width: 100%;
    padding: 15px 0;
    overflow: hidden !important;
}

.swiper-container-news .swiper-slide {
    width: 87%;
    height: 400px;
    max-width: 365px;
    margin: auto;
    position: relative;
    opacity: 1;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.12);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.swiper-container-news .swiper-slide:first-child {
    background-image: url(../img/flores.jpg);
}

.swiper-container-news .swiper-slide:nth-child(2) {
    background-image: url(../img/persona.jpg);
}

.swiper-container-news .swiper-slide:nth-child(3) {
    background-image: url(../img/personas.jpg);
}

.swiper-container-news .swiper-slide:last-child {
    background-image: url(../img/pexels-matt-hardy-5059013.jpg);
}

.swiper-container-news .swiper-slide::after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.965), rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.945));
    top: 0;
    z-index: 100;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-container-news .news-title h3 {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 25px 20px;
    z-index: 200;
    font-weight: 500;
    font-size: 1em;
}

.swiper-container-news h3 span:last-child {
    background: #fffffffa;
    padding: 5px 20px;
    font-size: 0.6em;
    font-weight: 700;
    border-radius: 50px;
    color: var(--grisoscuro);
}

.swiper-container-news .news-title p {
    position: absolute;
    bottom: 10px;
    z-index: 200;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.news-title a {
    color: var(--blanco-hueso);
}


/********************************/

.proyects {
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: -2px;
    background: #fff;
    position: relative;
}

.proyects-container h2 {
    margin: 10px auto;
}

.proyect:first-child {
    margin-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(219, 206, 206);
}

.proyects-card {
    width: 93%;
    max-width: 360px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.proyects-card-img {
    margin-right: 20px;
    overflow: hidden;
    width: 320px;
    height: 180px;
    background: rgba(0, 0, 0, 0.575);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
}

.proyects-card-img img {
    height: 100%;
    object-fit: cover;
    object-position: 40%;
    border-radius: 10px;
    transition: ease 2s;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
    display: inline-block;
}

.proyects-card-img-two img {
    object-position: 15%;
}

.proyects-card-img img:hover {
    transform: scale(1.3);
}

.proyects-content {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.proyects-content .more {
    text-align: left;
}

.proyects-content .more a {
    font-size: 0.8em;
}

.proyects-card-title {
    margin-bottom: 10px;
}

.proyects-card-title h3 {
    line-height: 1;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.proyects-card-title time {
    font-size: 0.5em;
    border-radius: 10px;
    padding: 5px 10px;
    background: rgba(27, 27, 27, 0.15);
    font-weight: 700;
}

.proyects-card-des {
    margin-bottom: 5px;
    font-size: 0.85em;
}

.proyects-card-progress {
    width: 90%;
    height: 20px;
    margin: auto;
    background: rgba(27, 27, 27, 0.15);
    border-radius: 50px;
    display: block;
    max-width: 360px;
    overflow: hidden;
}

.progress-bar {
    position: relative;
    width: 50% !important;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(to right, var(--naranja-oscuro), var(--naranja)) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    /*background: linear-gradient(to right, var(--celeste-oscuro), var(--celeste-claro));*/
}

.progress-bar-two {
    width: 80% !important;
}

.progress-bar span {
    font-size: 0.75em;
    font-weight: 600;
    color: var(--blanco-hueso);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.74);
    display: flex;
}

.progress-bar span .icon {
    margin-left: 5px;
    display: none;
}


/********************************/

.about {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 30px;
}

.division-about {
    margin-top: -10px !important;
}

.about-container {
    width: 90%;
    margin: auto;
}

.about-us {
    background: #fff;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grisoscuro);
    max-width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    overflow: hidden;
}

.about-us-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative !important;
    height: 480px;
    width: 100%;
}

.about-us video {
    object-fit: cover;
    height: 100%;
}

.about-us-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.12);
}

.about-icon {
    margin-top: -190px;
    font-size: 3em;
    color: var(--blanco-hueso);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.9));
    margin-bottom: -7px;
}

.about-us-content p {
    color: var(--blanco-hueso);
    text-transform: uppercase;
    font-size: 2.3em;
    line-height: 1;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.945);
}

.about-us-content p span:first-child {
    display: block;
}

.about-us-content p span:nth-child(2) {
    display: block;
    font-size: 0.85em;
    position: relative;
}

.about-us-content p span:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 10%;
    width: 80%;
    height: 2px;
    border-radius: 50px;
    background: var(--blanco-hueso);
    opacity: 0.65;
}

.about-us-content p span:last-child {
    display: block;
    font-size: 0.4em;
    width: 90%;
    margin: auto;
    margin-top: 6px;
    padding-top: 6px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.842);
}

.about-us-content .more,
.about-us-church .more {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.about-us-content .more a,
.about-us-church .more a,
.about-us-musik .more a {
    color: var(--blanco-hueso);
    text-decoration: none;
    background: linear-gradient(45deg, var(--celeste-oscuro), var(--celeste-claro));
    border-radius: 10px;
    padding: 8px 15px;
    font-weight: 600;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.575);
    transition: 0.2s ease;
    font-size: 0.9em;
}

.about-share-container {
    z-index: 200;
    position: relative;
}

.about-us-since {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 10px;
    max-width: 400px;
    margin: 15px auto;
    background: linear-gradient(to top, rgb(182, 174, 174), rgb(223, 215, 215));
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.12);
    font-size: 1.2em;
}

.about-us-since .icon {
    display: inline-block;
    margin-right: 5px;
}

.about-us-since span {
    display: block;
    font-weight: 800;
    text-transform: uppercase;
}

.about-us-ods {
    border-radius: 10px;
    background: rgb(255, 255, 255);
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    max-width: 400px;
    margin: 15px auto;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.12);
}

#counter::before {
    content: "+";
    font-size: 0.8em;
}

.about-us-ods span:first-child {
    font-weight: 800;
    color: var(--naranja-oscuro);
    font-size: 2.3em;
    opacity: 0;
}

.about-us-ods img {
    height: 7px;
    width: 80%;
    object-fit: cover;
    margin: 8px auto;
    /* border: 1px solid #0066ffab; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.63);
}

.about-us-ods span:nth-child(3),
.about-us-ods span:nth-child(4) {
    font-weight: 700;
    font-size: 0.7em;
}

.about-us-ods-two {
    border-radius: 10px;
    background: rgb(255, 255, 255);
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    max-width: 400px;
    margin: 15px auto;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.12);
}

.about-us-ods-two span:first-child {
    font-weight: 800;
    color: var(--naranja-oscuro);
    font-size: 2.3em;
    opacity: 0;
}

.about-us-ods-two span:first-child::before {
    content: "+";
    font-size: 0.8em;
    margin-right: -20px;
}

.about-us-ods-two img {
    height: 7px;
    width: 80%;
    object-fit: cover;
    margin: 8px auto;
    /* border: 1px solid #0066ffab; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.63);
}

.about-us-ods-two span:nth-child(3),
.about-us-ods-two span:nth-child(4) {
    font-weight: 700;
    font-size: 0.7em;
}

.about-us-musik {
    border-radius: 10px;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.12);
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 400px;
}

.about-musik-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
}

.about-us-musik p {
    font-size: 0.9em;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 2px solid rgb(151, 150, 150);
    width: 80%;
    margin: auto;
    margin-top: -10px;
}

.about-us-musik img:last-child {
    height: 100%;
    margin-bottom: -5px;
    object-fit: cover;
    object-position: left;
    position: relative;
}

.about-us-musik::after {
    content: "";
    background: linear-gradient(to bottom, #fff, transparent);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    position: absolute;
}

.about-musik-logo img {
    width: 200px;
}

.about-us-church {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    background: rgb(20, 20, 20);
    color: var(--blanco-hueso);
    position: relative;
    overflow: hidden;
    max-width: 400px;
    margin: auto;
}

.about-us-church::after {
    content: "";
    background: linear-gradient(to bottom, rgb(20, 20, 20), transparent);
    height: 150px;
    width: 100%;
    top: 188px;
    left: 0;
    position: absolute;
    z-index: 100;
}

.about-church-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width: 300px;
    margin: auto;
    padding-top: 20px;
    border-bottom: 2px solid rgb(151, 150, 150);
}

.about-church-logo h3 span {
    display: block;
}

.about-church-logo img {
    margin: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.658));
    margin-right: -15px;
    margin-left: -10px;
}

.about-us-church p {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 0.9em;
    color: rgb(151, 150, 150);
}

.about-us-church .more {
    position: relative;
    z-index: 200;
}

.about-us-church img:last-child {
    position: relative;
    z-index: 90;
    margin-bottom: -5px;
}

.about-share-ws {
    background: linear-gradient(to top, rgb(8, 141, 26), rgb(34, 189, 3));
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
}

.about-share-tw {
    background: linear-gradient(to top, rgb(22, 102, 177), rgb(16, 190, 202));
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
}

.about-share-ig {
    background: linear-gradient(to top, rgb(130, 8, 141), rgb(209, 43, 21));
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: 500;
}

.about-share-ws,
.about-share-tw,
.about-share-ig,
.fb-share-button {
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.about-share-ws .icon,
.about-share-ig .icon {
    margin-right: 5px;
}

.about-share-tw .icon {
    margin-right: 1px;
}

.about-share-ws a,
.about-share-tw a,
.about-share-ig a {
    color: var(--blanco-hueso);
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.336);
}

.about-share-container {
    display: flex;
}


/********************************/

.faq {
    margin-top: 50px;
    padding: 35px 0;
    background: #fff;
}

.faq-container .more {
    margin-top: 25px;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    color: #111;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(223, 217, 217);
}

.accordion-item-header {
    padding: 0rem 2.2rem 0rem 0rem;
    min-height: 3.1rem;
    font-weight: 700;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 1.5rem;
    position: absolute;
    right: 3px;
    transition: 0.5s ease;
    color: var(--naranja-oscuro);
}

.accordion-item-header.active::after {
    transform: rotate(-45deg);
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    color: rgba(0, 0, 0, 0.699);
    font-weight: 500;
    font-size: 0.9em;
}

.accordion-item-body-content {
    padding: 1rem 0rem;
    padding-right: 1.5rem;
    padding-top: 5px;
    line-height: 1.5rem;
}

.accordion-item-body-content a {
    color: var(--celeste-claro);
}


/********************************/

.contact {
    padding-top: 30px;
    margin-top: -20px;
    background: var(--blanco-hueso);
    padding-bottom: 30px;
    margin-bottom: -60px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form img {
    width: 90%;
    margin: auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    max-width: 350px;
}

form {
    width: 90%;
    margin: auto;
    max-width: 1250px;
    margin-bottom: 50px;
    overflow: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 500 !important;
    position: relative;
}

form .contact-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible !important;
}

.form-group-input {
    position: relative;
    margin-top: 45px;
    height: 35px;
}

.form-select {
    position: relative;
    margin: 20px 0;
}

.form-select label {
    position: absolute;
    top: -33px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}

form select {
    margin-top: 25px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.123);
    border: none;
    border-bottom: 2px solid var(--celeste-claro);
    padding-top: 10px;
    padding-bottom: 4px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
}

form select option {
    background: rgb(255, 255, 255);
    margin-top: 5px;
    border: 0px;
    outline: none;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}

.form-group-input input {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.055);
    transition: 0.3s ease;
}

.form-group-input label,
.form-text label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    border-bottom: 1px solid rgba(151, 150, 150, 0.609);
}

.form-group-input label::after,
.form-text label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--celeste-claro);
    transform: translateX(-101%);
    transition: 0.3s ease;
}

.content-input {
    position: absolute;
    top: -20px;
    left: 5px;
    transition: 0.3s ease;
    font-weight: 600;
}

#label-select .content-input {
    top: 38px;
}

form input:focus+label::after,
form input:valid+label::after,
form textarea:focus+label::after,
form textarea:valid+label::after {
    transform: translateX(0%);
}

form input:focus,
form textarea:focus {
    background: rgb(236, 236, 236);
}

.form-text {
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 45px;
}

.form-text label span {
    position: absolute;
    top: -20px;
    font-weight: 600;
}

.form-text textarea {
    resize: none;
    border: none;
    outline: none;
    text-align: left;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.123);
    transition: 0.3s ease;
}

.form-submit a {
    color: var(--celeste-claro);
}

.form-check a {
    color: var(--celeste-claro);
}

.form-submit {
    width: 100%;
    margin-top: 10px;
}

.form-submit input {
    width: 130px;
    height: 40px;
    color: var(--blanco-hueso);
    background: linear-gradient(45deg, var(--celeste-oscuro), var(--celeste-claro));
    border-radius: 5px;
    font-weight: 700;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.575);
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.295);
    transition: 0.3s ease;
    margin: 0;
    cursor: pointer;
}

.form-submit .icon {
    margin-right: 5px;
}

.form-error,
.error-submit {
    color: rgb(131, 124, 124);
    /* color: var(--blanco-hueso); */
    text-align: left;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: start;
    display: none;
    position: relative;
}

.error-active label::after {
    border-bottom: 2px solid var(--naranja-oscuro);
    transform: translateX(0);
}

.error-active input,
.error-active textarea {
    background: rgb(195, 195, 195);
}

.form-text .form-error {
    margin-bottom: 20px !important;
}

.form-error .icon {
    border-radius: 50%;
    padding: 3px;
    color: var(--blanco-hueso);
    background: rgb(209, 43, 21);
    width: 17px;
    height: 17px;
    margin-right: 4px;
}

.form-submit input {
    transition: 0.2s ease;
}

.form-submit input:active {
    transform: scale(0.95);
}

.form-submit input:focus {
    background: linear-gradient(45deg, var(--celeste-oscuro), var(--celeste-claro));
}


/********************************/


/********************************/


/********************************/


/********************************/


/********************************/

@media screen and (min-width:375px) {
    .banner-container-content h1 span:first-child {
        font-size: 0.5em;
    }
    .banner-container-content h1 span:nth-child(2) {
        font-size: 1.4em;
    }
    .banner-container-content h1 span:nth-child(3) {
        font-size: 1.4em;
    }
    .banner-container-content h1 span:nth-child(4) {
        font-size: 1.4em;
    }
    .banner-container-content h1 span:last-child {
        font-size: 0.5em;
    }
    .banner-container-button a {
        padding: 10px 20px;
        font-size: 1.15em;
    }
    .banner-container-video video {
        height: 570px;
    }
    .banner-container-video::after {
        height: 570px;
    }
    .banner-container-content {
        top: 120px;
    }
    .help-description p {
        padding: 0px;
    }
    .about-icon {
        font-size: 3.2em;
        margin-top: -170px;
    }
    .about-us-content p {
        top: 200px;
    }
    .about-us-content p {
        font-size: 2.5em;
    }
    .about-us-content p span:nth-child(2) {
        font-size: 0.9em;
    }
    .about-us-musik p {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1em;
    }
    .about-us-church img:last-child {
        height: 290px;
        object-fit: cover;
    }
    .proyect {
        width: 94%;
        margin: auto;
    }
}

@media screen and (min-width:425px) {
    .banner-container-content h1 span:first-child {
        font-size: 0.6em;
    }
    .banner-container-content h1 span:nth-child(2) {
        font-size: 1.5em;
    }
    .banner-container-content h1 span:nth-child(3) {
        font-size: 1.5em;
    }
    .banner-container-content h1 span:nth-child(4) {
        font-size: 1.5em;
    }
    .banner-container-content h1 span:last-child {
        font-size: 0.6em;
    }
    .banner-container-content {
        top: 100px;
    }
}

@media screen and (min-width:540px) {
    .banner-container-content h1 span:first-child {
        font-size: 0.7em;
    }
    .banner-container-content h1 span:nth-child(2) {
        font-size: 1.7em;
    }
    .banner-container-content h1 span:nth-child(3) {
        font-size: 1.7em;
    }
    .banner-container-content h1 span:nth-child(4) {
        font-size: 1.7em;
    }
    .banner-container-content h1 span:last-child {
        font-size: 0.65em;
    }
    .banner-container-content {
        top: 90px;
    }
    .help-container-card {
        max-width: 380px;
        margin-top: 70px;
    }
    .help-container-card:nth-child(2) {
        margin-bottom: 10px;
    }
    .help-container-card:nth-child(3) .help-card-img:first-child img {
        width: 230px;
    }
    .help-card-img img {
        width: 230px;
    }
    .help-card-title {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .help-card-title h3 {
        margin-top: 15px;
        max-width: 260px;
        font-size: 1.8em;
    }
    .help-card-title ul li {
        font-size: 1.2em;
    }
    .help-card-title ul li::before {
        content: "\2022";
        font-size: 1.4em;
    }
    .help-card-title .more {
        margin: 10px 0;
        margin-top: 15px;
    }
    .more {
        text-align: center;
    }
    .more a {
        color: var(--celeste-claro);
        font-weight: 600;
    }
    .help-description p span {
        font-size: 0.8em;
        max-width: 350px;
        padding: 10px 15px;
    }
    .help-description p span img {
        display: inline-block;
        width: 20px;
    }
    .swiper-container-news .swiper-slide {
        width: 87%;
        height: 480px;
        max-width: 435px;
    }
    .swiper-container-news .swiper-slide img {
        width: 100%;
        height: 480px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.12);
    }
    .news-title {
        font-size: 1.1em;
    }
    .proyects-card {
        max-width: 400px;
    }
    .proyects-card-img {
        min-width: 200px;
        height: 250px;
    }
    .proyects-content {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .proyects-content .more a {
        font-size: 1em;
    }
    .proyects-card-title h3 {
        font-size: 1.6em;
        margin-bottom: 10px;
    }
    .proyects-card-title time {
        font-size: 0.6em;
    }
    .proyects-card-des {
        margin-bottom: 10px;
        font-size: 1.15em;
    }
    .proyects-card-progress {
        height: 30px;
        max-width: 400px;
    }
    .progress-bar span {
        font-size: 0.95em;
    }
    .progress-bar-span {
        font-size: 0.9em;
        margin-top: 10px;
        max-width: 400px;
    }
    .proyect:nth-child(3) .progress-bar-span {
        border-bottom: 1px solid rgba(61, 54, 54, 0.37);
    }
    .contact-title h2~p {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width:768px) {
    .banner-container-video video {
        height: 500px;
    }
    .banner-container-video::after {
        height: 500px;
    }
    .banner-container-content h1 span:first-child {
        font-size: 0.7em;
    }
    .banner-container-content h1 span:nth-child(2) {
        font-size: 1.6em;
        display: inline-block;
    }
    .banner-container-content h1 span:nth-child(3) {
        font-size: 1.6em;
        display: inline-block;
    }
    .banner-container-content h1 span:nth-child(4) {
        font-size: 1.6em;
        margin-top: -5px;
    }
    .banner-container-content h1 span:last-child {
        font-size: 0.6em;
    }
    .banner-container-content {
        top: 120px;
    }
    .banner-container-button a {
        font-size: 1.35em;
        padding: 12px 25px;
    }
    .help-container-card {
        max-width: 360px;
        margin-top: 70px;
    }
    .proyect {
        width: 90%;
        margin: auto;
    }
    .proyects-card {
        max-width: 600px;
    }
    .proyects-card:first-child {
        margin-top: 50px;
    }
    .proyects-card-img {
        min-width: 270px;
        height: 330px;
    }
    .proyects-content {
        height: 330px;
    }
    .proyects-content .more a {
        font-size: 1.25em;
    }
    .proyects-card-title h3 {
        font-size: 2.1em;
        margin-bottom: 10px;
    }
    .proyects-card-title time {
        font-size: 0.7em;
    }
    .proyects-card-des {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 1.35em;
    }
    .proyects-card-progress {
        height: 30px;
        margin-top: 20px;
        max-width: 570px;
    }
    .progress-bar span {
        font-size: 0.95em;
    }
    .progress-bar-span {
        font-size: 0.9em;
        margin-top: 10px;
        max-width: 570px;
    }
    .proyect:nth-child(3) .progress-bar-span {
        border-bottom: 1px solid rgba(61, 54, 54, 0.37);
    }
    .contact-title h2~p {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-us {
        max-width: 95%;
    }
    .about-us-video {
        height: 300px;
    }
    .about-us video {
        object-fit: cover;
        height: 100%;
    }
    .about-icon {
        margin-top: -50px;
        font-size: 3em;
        color: var(--blanco-hueso);
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.9));
        margin-bottom: -7px;
    }
    .about-us-content p {
        color: var(--blanco-hueso);
        text-transform: uppercase;
        font-size: 2.3em;
        line-height: 1;
        font-weight: 800;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.945);
    }
    .about-us-content p span:first-child {
        display: inline-block;
    }
    .about-us-content p span:nth-child(2) {
        display: inline-block;
        font-size: 1em;
    }
    .about-us-content p span:nth-child(2)::after {
        display: none;
    }
    .about-us-content p span:last-child::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0%;
        width: 100%;
        height: 2px;
        border-radius: 50px;
        background: var(--blanco-hueso);
        opacity: 0.65;
    }
    .about-us-content p span:last-child {
        position: relative;
        font-size: 0.55em;
    }
    .about-us-since {
        font-size: 1em;
        padding: 20px 0;
        max-width: 95%;
    }
    .about-us-since .icon {
        font-size: 1em;
        display: inline-block;
        margin-right: 5px;
    }
    .about-us-since span {
        display: block;
        font-weight: 800;
        font-size: 1em;
        text-transform: uppercase;
    }
    .about-us-church img:last-child {
        height: 400px;
    }
    .about-personal-proyects {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-personal-proyects>div {
        max-width: 47% !important;
        height: 540px;
        margin: auto;
    }
    .news-telegram {
        margin: 15px 0;
    }
    .news-telegram a {
        font-size: 1em;
        transition: 0.2s ease;
    }
    .contact-img img {
        width: 400px;
        height: 400px;
        margin-top: -30px;
        margin-bottom: -50px;
    }
    .form-submit .form-error {
        margin-left: 0;
    }
}

@media screen and (min-width:1000px) {
    .more a {
        text-decoration: none;
    }
    .more a:hover {
        text-decoration: underline;
    }
    .banner-container-video video {
        height: 600px;
    }
    .banner-container-video {
        margin-top: 0px;
    }
    .banner-container-video::after {
        height: 600px;
        background: rgba(0, 0, 0, 0.45);
    }
    .banner-container-content h1 span:first-child {
        font-size: 0.75em;
    }
    .banner-container-content h1 span:nth-child(2) {
        font-size: 1.9em;
        display: inline-block;
    }
    .banner-container-content h1 span:nth-child(3) {
        font-size: 1.9em;
        display: inline-block;
    }
    .banner-container-content h1 span:nth-child(4) {
        font-size: 1.6em;
        margin-top: -5px;
    }
    .banner-container-content h1 span:last-child {
        font-size: 0.6em;
    }
    .banner-container-content {
        top: 180px;
    }
    .banner-container-button a {
        font-size: 1.35em;
        padding: 12px 25px;
        display: inline-block;
    }
    .banner-container-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        transition: 0.3s ease;
    }
    .banner-container-button a .icon {
        transition: transform 0.5s ease;
    }
    .banner-container-button a:hover>.icon {
        animation: gift infinite 1s ease;
    }
    .banner-container-button a:hover {
        transform: scale(1.05);
    }
    .help-container-card {
        max-width: 420px;
        margin-top: 70px;
    }
    .news,
    .proyects {
        padding-top: 40px;
    }
    .news a {
        transition: 0.2s ease;
    }
    .swiper-container-news a:hover p {
        text-decoration: underline !important;
        text-decoration-color: var(--celeste-claro);
    }
    .swiper-container-news .icon {
        transition: 0.2s ease;
    }
    .swiper-container-news a:hover .icon {
        transform: translateX(5px);
    }
    .news-telegram {
        margin-top: 20px;
    }
    .news-telegram a {
        font-size: 1.1em;
        display: inline-block;
    }
    .news-telegram a:hover {
        transform: scale(1.05);
    }
    .proyect:first-child {
        border-bottom: 0px;
    }
    .proyects {
        margin-bottom: 30px;
    }
    .proyect-container {
        display: flex;
    }
    .proyects-container h2~p {
        padding-left: 65px;
        padding-right: 65px;
    }
    .proyect {
        width: 40%;
        margin: auto;
        margin-top: 0 !important;
        position: relative;
    }
    .proyect:first-child:after {
        content: "";
        position: absolute;
        width: 1px;
        background: rgb(151, 150, 150);
        height: 80%;
        top: 8%;
        left: 110%;
        z-index: 300;
    }
    .proyects-card {
        max-width: 100%;
    }
    .proyects-card:first-child {
        margin-top: 50px;
    }
    .proyects-card-img {
        min-width: 250px;
        height: 330px;
    }
    .proyects-content {
        height: 330px;
    }
    .proyects-content .more a {
        font-size: 1.15em;
    }
    .proyects-card-title h3 {
        font-size: 2em;
        margin-bottom: 10px;
    }
    .proyects-card-title time {
        font-size: 0.7em;
    }
    .proyects-card-des {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 1.2em;
    }
    .proyects-card-progress {
        height: 30px;
        margin-top: 20px;
        max-width: 570px;
    }
    .progress-bar span {
        font-size: 0.95em;
    }
    .progress-bar-span {
        font-size: 0.9em;
        margin-top: 10px;
        max-width: 570px;
    }
    .proyect:nth-child(3) .progress-bar-span {
        border-bottom: 1px solid rgba(61, 54, 54, 0.37);
    }
    .contact-title h2~p {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-us {
        max-width: 95%;
    }
    .about-us-video {
        height: 350px;
    }
    .about-us-content {
        background: rgba(0, 0, 0, 0.2);
    }
    .about-icon {
        margin-top: -50px;
        font-size: 3.4em;
        color: var(--blanco-hueso);
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.9));
        margin-bottom: -7px;
    }
    .about-us-content p {
        color: var(--blanco-hueso);
        text-transform: uppercase;
        font-size: 2.9em;
        line-height: 1;
        font-weight: 800;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.945);
    }
    .about-us-content p span:first-child {
        display: inline-block;
    }
    .about-us-content p span:nth-child(2) {
        display: inline-block;
    }
    .about-us-content p span:nth-child(2)::after {
        display: none;
    }
    .about-us-content p span:last-child::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0%;
        width: 100%;
        height: 2px;
        border-radius: 50px;
        background: var(--blanco-hueso);
        opacity: 0.65;
    }
    .about-us-content p span:last-child {
        position: relative;
        font-size: 0.6em;
    }
    .about-us-since {
        font-size: 1em;
        padding: 20px 0;
        max-width: 95%;
    }
    .about-us-since .icon {
        font-size: 1em;
        display: inline-block;
        margin-right: 5px;
    }
    .about-us-since span {
        display: block;
        font-weight: 800;
        font-size: 1em;
        text-transform: uppercase;
    }
    .about-us-church img:last-child {
        height: 400px;
    }
    .about-us-musik p {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.1em;
    }
    .about-us-church p {
        font-size: 1em;
    }
    .accordion-item-header {
        border-radius: 10px;
        transition: ease;
        padding-left: 5px;
        padding-right: 5px;
    }
    .accordion-item-header:hover {
        background: rgb(240, 238, 238);
    }
    .contact {
        padding-bottom: 80px;
    }
    .contact h2~p {
        margin-top: 7px;
    }
    form .contact-img {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: visible !important;
    }
    form .form-container {
        width: 50%;
    }
    form select,
    form select option {
        cursor: pointer;
    }
    form select option:hover {
        background: var(--celeste-claro);
        color: var(--grisoscuro);
    }
    .form-group-input {
        height: 40px;
    }
    .contact-img img {
        margin: 0;
    }
    form {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }
    form>div {
        overflow: hidden;
    }
    .form-submit input {
        transition: 0.2s ease;
    }
    .form-submit input:hover {
        opacity: 0.8;
    }
}

@media screen and (min-width:1250px) {
    .banner-container-video video {
        height: 640px;
    }
    .banner-container-video {
        margin-top: -0px;
    }
    .banner-container-video::after {
        height: 640px;
        background: rgba(0, 0, 0, 0.40);
    }
    .banner-container-content h1 span:first-child {
        font-size: 0.9em;
    }
    .banner-container-content h1 span:nth-child(2) {
        font-size: 2.3em;
        display: inline-block;
    }
    .banner-container-content h1 span:nth-child(3) {
        font-size: 2.3em;
        display: inline-block;
    }
    .banner-container-content h1 span:nth-child(4) {
        font-size: 2em;
        margin-top: -5px;
    }
    .banner-container-content {
        top: 150px;
    }
    .help-container {
        margin-top: 40px;
    }
    .help-container-card {
        max-width: 400px;
        height: 327px;
        margin-top: 70px;
    }
    .help-container-card:nth-child(1) {
        margin-bottom: 0px;
    }
    .help-container-card:nth-child(2) {
        margin-bottom: 0px;
    }
    .about-personal-proyects {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-personal-proyects>div {
        max-width: 47% !important;
        height: 570px !important;
        margin: auto;
    }
    .about-us-content p {
        color: var(--blanco-hueso);
        text-transform: uppercase;
        font-size: 3.5em;
        line-height: 1;
        font-weight: 800;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.945);
    }
    .about-us-since {
        font-size: 1.5em;
        padding: 30px 0;
        max-width: 95%;
    }
    .about-us-since .icon {
        font-size: 1em;
        display: inline-block;
        margin-right: 5px;
    }
    .about-us-church img:last-child {
        height: 400px;
    }
    .about-us-musik p {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.3em;
    }
    .about-us-church p {
        font-size: 1.2em;
    }
    .about-church-logo img {
        width: 130px;
        height: 130px;
    }
    .about-musik-logo img {
        width: 250px;
    }
    .about-us-church::after {
        top: 225px;
    }
    .accordion-item-header {
        font-size: 1.2em;
    }
    .accordion-item-body {
        font-size: 1em;
    }
    .contact {
        padding-bottom: 80px;
    }
    form .contact-img {
        width: 40%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: visible !important;
    }
    form .form-container {
        width: 50%;
    }
    .contact-img img {
        margin: 0;
        width: 100%;
        height: 550px;
        max-width: 100%;
    }
    form {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }
    form>div {
        overflow: hidden;
    }
}

@media screen and (min-width:1850px) {
    h2 {
        font-size: 6em !important;
    }
    h2~p {
        font-size: 1.8em !important;
    }
    .banner-container-video video {
        height: 700px;
    }
    .banner-container-video {
        margin-top: -0px;
    }
    .banner-container-video::after {
        height: 700px;
        background: rgba(0, 0, 0, 0.40);
    }
    .banner-container-content h1 span:first-child {
        font-size: 1.1em;
    }
    .banner-container-content h1 span:nth-child(2) {
        font-size: 2.8em;
        display: inline-block;
    }
    .banner-container-content h1 span:nth-child(3) {
        font-size: 2.8em;
        display: inline-block;
    }
    .banner-container-content h1 span:nth-child(4) {
        font-size: 2.8em;
        margin-top: -5px;
    }
    .banner-container-content h1 span:last-child {
        font-size: 0.9em;
    }
    .banner-container-button a {
        font-size: 1.9em;
        padding: 20px 30px;
    }
    .banner-container-content {
        top: 150px;
    }
    .help-container {
        margin-top: 40px;
    }
    .help-description p span {
        font-size: 0.8em;
        max-width: 500px;
        padding: 15px 20px;
    }
    .help-container-card {
        max-width: 500px;
        height: 417px;
        margin-top: 70px;
    }
    .help-card-title {
        width: 100%;
    }
    .help-container-card h3 {
        font-size: 2.3em;
        max-width: 95%;
        margin: auto;
        margin-bottom: 10px;
        padding-bottom: 9px;
    }
    .help-container-card ul li {
        font-size: 1.5em;
    }
    .help-container-card .more {
        margin-top: 20px;
    }
    .help-container .more a {
        font-size: 1.5em;
    }
    .help-container-card:nth-child(1) {
        margin-bottom: 0px;
    }
    .help-container-card:nth-child(2) {
        margin-bottom: 0px;
    }
    .swiper-container-news .swiper-slide {
        width: 87%;
        height: 500px;
        max-width: 505px;
    }
    .about-personal-proyects>div {
        max-width: 47% !important;
        height: 570px !important;
        margin: auto;
    }
    .about-us-content p {
        color: var(--blanco-hueso);
        text-transform: uppercase;
        font-size: 3.5em;
        line-height: 1;
        font-weight: 800;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.945);
    }
    .about-us-since {
        font-size: 1.5em;
        padding: 30px 0;
        max-width: 95%;
    }
    .about-us-since .icon {
        font-size: 1em;
        display: inline-block;
        margin-right: 5px;
    }
    .about-us-church img:last-child {
        height: 400px;
    }
    .about-us-musik p {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.3em;
    }
    .about-us-church p {
        font-size: 1.2em;
    }
    .about-church-logo img {
        width: 130px;
        height: 130px;
    }
    .about-musik-logo img {
        width: 250px;
    }
    .about-us-church::after {
        top: 225px;
    }
    .accordion {
        max-width: 1400px;
    }
    .accordion-item-header {
        font-size: 1.2em;
    }
    .accordion-item-body {
        font-size: 1em;
    }
    .contact {
        padding-bottom: 80px;
    }
    form .contact-img {
        width: 35%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: visible !important;
    }
    form .form-container {
        width: 55%;
    }
    .contact-img img {
        margin: 0;
        width: 450px;
        height: 450px;
    }
    form {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }
    form>div {
        overflow: hidden;
    }
}


/********************************/


/********************************/